.github {
  color: #000000;
}

.stackoverflow {
  color: #F48024;
}

.linkedin {
  color: #0077B5;
}

.facebook {
  color: #4862A3;
}

.googleplus {
  color: #E92C34;
}

.youtube {
  color: #C1181D;
}

.twitter {
  color: #55ACEE;
}

.tumble {
  color: #34465D;
}
